@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}
<div class="col-auto">
    @await Html.PartialAsync("_CreateItem", "Movies")
</div>



    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-sm-12 col-lg-4 col-xl-3 col-md-6 pt-4 pr-4 pl-4 pb-4">

                <div class="card">
                    <img class="card-img-top" src="@item.MovieUrl" alt="@item.Name" style="height: 30vh; width: 100%; object-fit: cover">
                    <div class="card-body">
                        <h5 class="card-title">
                            @item.Name
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="text-black-50 float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                            }
                        </h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><b>Price: </b>@item.Price.ToString("c")</p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                            {
                                <span class="badge bg-success text-white">AVAILABLE</span>
                            }
                            else if (DateTime.Now > item.EndDate)
                            {
                                <span class="badge bg-danger text-white">EXPIRED</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">UPCOMING</span>
                            }
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text">
                            <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                <i class="bi bi-eye-fill"></i> Show Details
                            </a>
                            <a class="btn btn-success text-white @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                               asp-controller="Orders"
                               asp-action="AddItemToShoppingCart"
                               asp-route-id="@item.Id">
                                <i class="bi bi-cart-plus"></i> Add to Cart
                            </a>
                        </small>
                    </div>
                </div>
            </div>

        }
    </div>
